<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireball_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,52}</string>
                <key>textureRect</key>
                <string>{{1,45},{80,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,52}</string>
                <key>textureRect</key>
                <string>{{1,91},{80,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,52}</string>
                <key>textureRect</key>
                <string>{{1,137},{80,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{82,42}</string>
                <key>spriteSourceSize</key>
                <string>{82,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,42}</string>
                <key>spriteSourceSize</key>
                <string>{82,52}</string>
                <key>textureRect</key>
                <string>{{85,1},{80,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireball_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{78,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,52}</string>
                <key>textureRect</key>
                <string>{{83,83},{78,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireball_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,52}</string>
                <key>textureRect</key>
                <string>{{1,183},{80,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,52}</string>
                <key>textureRect</key>
                <string>{{83,163},{78,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ss_fireball_1.png</string>
            <key>size</key>
            <string>{128,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfe88dbd2a971f137f13c5d772f884f2:6ac9dc8195ca537891f5177547ce3241:f844e6721f314f1b604f12e4af0f7f4f$</string>
            <key>textureFileName</key>
            <string>ss_fireball_1.png</string>
        </dict>
    </dict>
</plist>
